### glider config file

# verbose mode, print logs
verbose

# listen on 8443, serve as http/socks5 proxy on the same port.
listen=:8443

# listen on 8443 as a ss server.
# listen=ss://AEAD_CHACHA20_POLY1305:pass@:8443

# listen=http://:8080
# listen=socks5://:1080
# listen=redir://:1081

# listen on udp port 53, forward dns requests via tcp protocol
listen=dnstun://:53=8.8.8.8:53

# upstream forward proxy
forward=socks5://192.168.1.10:1080

# upstream forward proxy
forward=ss://method:pass@1.1.1.1:443

# multiple upstream proxies forwad strategy
strategy=rr

# check address (to check a whether a forward proxy)
checkhost=www.apple.com:443
# check duration
checkduration=30
